numpy
Pillow
unitypack @ git+https://github.com/drojf/UnityPack@master # custom build of unitypack which does not require 'decrunch'
setuptools # required for unitypack or else get `pkg_resources` error